.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  border: 2px solid gray;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #0000005c;
  background-color: rgba(165, 42, 42, 0.245);
  scale: 0.8;
}
.description > img {
  display: block;
  width: 100%;
  filter: drop-shadow(5px 5px 10px #000);
  position: relative;
  top: 20px;
}
.location,
.tag,
.name {
  margin: 10px;
  text-align: center;
}
.stats {
  list-style: none;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: #fff;
  filter: drop-shadow(0px 1px 5px #0000006b);
}

.stats > li {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
.stats > li:not(:last-child) {
  border-right: 1px solid gray;
}
.quantity {
  border-top: 1px solid gray;
  padding-top: 5px;
  margin-left: -10px;
  margin-right: -10px;
}
.location {
  font-size: 14px;

  font-style: italic;
}
.name {
  position: relative;
  top: -327px;
  font-size: 24px;
}
.label {
  font-weight: 600;
}
.tag {
  font-style: 18px;
  font-weight: 600;
}
