.friend-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;

  gap: 15px;
}
.friend-list .name {
  position: relative;
  top: 0;
}
.friend-list .item {
  display: flex;
  gap: 10px;
  box-shadow: 2px 2px 10px #0000005c;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: rgba(128, 128, 128, 0.043);

  align-items: center;
}
.friend-list .status {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  
}
.friend-list .avatar{
    box-shadow: 0px 1px 1px #0000006b;
    padding: 5px;
    border-radius: 10%;
    background-color: rgba(128, 128, 128, 0.16);

}
.friend-list .name{
    font-weight: 600;
    text-transform: uppercase;
    color: grey;
    margin: 0;
}