.statistics {
  position: relative;
  top: 55px;
  text-align: center;
  box-shadow: 2px 2px 10px #0000005c;
  border-radius: 10px;
  overflow: hidden;

}
.statistics .title {
  text-transform: uppercase;
  color: gray;
}
.statistics .stat-list {
color: white;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;

  text-align: center;
}
.statistics .item {
  width: 50px;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;


}
.statistics .item:nth-child(1) {
  background-color: #51c3fa;
}
.statistics .item:nth-child(2) {
  background-color: #a33df2;
}
.statistics .item:nth-child(3) {
  background-color: #dc566c;
}
.statistics .item:nth-child(4) {
  background-color: #21b8c2;
}
.statistics .item:nth-child(5) {
  background-color: rgb(222, 129, 222);
}
.statistics .label{
    margin-bottom: 10px;
    font-size: 16px;
}
.statistics .percentage{
    font-size: 25px;
}